In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import seaborn as sb
import matplotlib.style
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
#from IPython.core.display import display, H
#TML
#display(HTML("<style>.container { width:95% !important; }</style>"))
#plt.rcParams['figure.figsize'] = [26, 8]
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [27]:
df = pd.read_csv('/home/wdnfywaa/Desktop/tiagoFDP/Dados-AC.csv',encoding='utf8')

In [25]:
#df['n_co_municipio_ibge_ocorrencia']


municipios = df.groupby('n_co_municipio_ibge_ocorrencia')['n_co_municipio_ibge_ocorrencia'].count()

#municipios.loc[municipios.n_co_municipio_ibge_ocorrencia == 'M','n_sg_sexo'] = 1

codigos = [1, 1200013, 1200054, 1200104, 1200138, 1200179, 1200203,
       1200252, 1200302, 1200328, 1200336, 1200344, 1200351, 1200385,
       1200393, 1200401, 1200427, 1200435, 1200450, 1200500, 1200609,
       1200708, 1200807]
#paises = 


for i in range(1,len(codigos)):
    #print(i)

#municipios

SyntaxError: unexpected EOF while parsing (<ipython-input-25-5feb994b63ec>, line 18)

In [ ]:
df.shape

In [ ]:
#sns.heatmap(df.isnull())

In [9]:
values = df.groupby('morte_menor_28d')['morte_menor_28d'].count()
n_samples = df.shape[0]

In [ ]:
df_death['date_death'] = df_death['date_death'].astype('Int64')
df_death['day_death'] = df_death['day_death'].astype('Int64')
df_death['month_death'] = df_death['month_death'].astype('Int64')
df_death['year_death'] = df_death['year_death'].astype('Int64')

df_death['days_until_death'] = (df_death['day_death'] - df_death['day_birth'])
df_death['days_until_death'] = df_death['days_until_death'].astype('Int64')
df_death.dtypes

In [40]:
df_teste = df[:]

In [41]:
df_morteNeonatal=df_teste[:]
df_morteNeonatal['year_death'] = df_morteNeonatal['year_death'].astype('Int64')
df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["morte_menor_28d"] == 1]

df_morteNeonatal.loc[df_morteNeonatal.n_sg_sexo == 'M','n_sg_sexo'] = 1
df_morteNeonatal.loc[df_morteNeonatal.n_sg_sexo == 'F','n_sg_sexo'] = 2
df_morteNeonatal['n_sg_sexo']=df_morteNeonatal['n_sg_sexo'].astype(int)

########################################## Linha Linha#########################
#i=1
#for index, row in df_morteNeonatal.iterrows():
#    #print (row['n_sg_sexo'])
#    if row['n_sg_sexo']=='2':
#        #row['n_sg_sexo'].dtype
#       row['n_sg_sexo']=int(row['n_sg_sexo'])
#       print(i)
#       i=i+1
########################################## Linha Linha#########################
##  Crian√ßas que morreram antes dos 28 dias de vida
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_sg_sexo"] == 1]##Homens
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_tp_raca_cor_mae"]==4]##Parda
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_tp_ocorrencia"]==1]##Residencia
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_tp_parto"]==2]##Parto normal
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["year_death"]==2006]##Ano de morte

#df_morteNeonatal.count()
                                
t=df_morteNeonatal.groupby('n_tp_raca_cor_mae')['n_tp_raca_cor_mae'].count()
#t=df_morteNeonatal.year_death.unique()
#type(t.index)

tt=list(t.index)

#tt

In [20]:
df_morteNeonatal.columns

Index(['id', 'n_tp_ocorrencia', 'n_co_municipio_ibge_ocorrencia', 'n_nu_idade', 'n_tp_estado_civil', 'n_tp_escolaridade', 'n_qt_nascidos_vivos', 'n_qt_nascidos_mortos', 'n_co_municipio_ibge_residencia', 'n_tp_gestacao', 'n_tp_gravidez', 'n_tp_parto', 'n_tp_prenatal', 'n_dt_nascimento', 'n_sg_sexo', 'n_nu_apgar1', 'n_nu_apgar5', 'n_tp_raca_cor', 'n_nu_peso', 'n_co_cid', 'n_st_malformacao', 'n_co_bairro_ocorrencia', 'n_co_bairro_residencia', 'n_tp_raca_cor_mae', 'n_qt_gestacao_anterior', 'n_qt_parto_normal', 'n_qt_parto_cesaria', 'n_tp_metodo_estimar', 'n_tp_apresentacao', 'n_st_trabalho_parto', 'n_st_cesarea_parto', 'n_tp_grupo_robson', 'n_tp_nascimento_assistido', 'n_tp_funcao_responsavel', 'morte_menor_28d', 'date_death', 'day_birth', 'month_birth', 'year_birth', 'day_death', 'month_death', 'year_death', 'n_ct_peso', 'n_ct_idade', 'n_ct_nascidos_vivos', 'n_ct_nascidos_mortos', 'n_ct_gestacao_anterior', 'n_ct_parto_normal', 'n_ct_parto_cesaria', 'n_ct_apgar1', 'n_ct_apgar5'], dtype='object')

In [23]:
available_indicators = df_morteNeonatal['n_tp_ocorrencia'].unique()
available_indicators

array([1, 3, 2, 4])

In [76]:
teste=df['n_nu_peso'].index
teste

RangeIndex(start=0, stop=153861, step=1)

In [ ]:
df_2006.head()

In [44]:
values_2006 = df_2006.shape[0]

In [45]:
values_2006

33

In [66]:
df_morteNeonatal=df_teste[:]


df_morteNeonatal['year_death'] = df_morteNeonatal['year_death'].astype('Int64')
df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["morte_menor_28d"] == 1]

df_morteNeonatal.loc[df_morteNeonatal.n_sg_sexo == 'M','n_sg_sexo'] = 1
df_morteNeonatal.loc[df_morteNeonatal.n_sg_sexo == 'F','n_sg_sexo'] = 2
df_morteNeonatal['n_sg_sexo']=df_morteNeonatal['n_sg_sexo'].astype(int)
menor_ano=df_morteNeonatal['year_death'].min()


dataframe_original=df_morteNeonatal[df_morteNeonatal['year_death']==2006]
aux_homem_final = dataframe_original[dataframe_original['n_sg_sexo']==1]











teste_order=df_morteNeonatal.sort_values(by=['n_nu_peso'])

df_morteNeonatal['n_nu_peso'].values

array([1550, 2080, 3820, 2685, 4265, 2700, 1010, 1100, 1400, 1560, 3055,
        915, 2235, 3155, 2505, 3380, 1450, 3700, 1050, 2100, 2000, 3110,
       1335, 3510, 1005, 3340, 2225, 2975, 3090, 3420, 1020, 3085, 2900,
       1020, 2990, 2750, 3100, 1350, 2800, 2250, 2500, 3500, 4150, 2660,
       2830, 4250, 2500, 2600, 1100, 2900, 1930, 1930, 1800, 4240, 1500,
       1600, 3250, 1550, 1400, 2025, 2120, 4000, 2950, 1670,  480, 1000,
       1500, 1200,  750,  500,  600,  790,  400, 2850, 3320, 2470, 2400,
       1700, 1400, 2700,  340, 3000, 2745, 3560, 2850, 1800, 3750,  800,
        750, 2600, 1050, 3540, 1700, 4070,  470, 1730, 3700, 2760, 1700,
        950, 2000, 3900, 1800, 3710, 1000, 2950, 2800, 2500, 1250, 3390,
       3720, 1400, 2450, 1250, 2150, 1035, 3750, 2000, 1945, 1030, 1880,
       1800, 1300, 4650, 1300, 1665,  650, 1900, 1870,  790, 1740, 3254,
       1240, 1580, 2900,  556,  760, 1307, 1742,  458, 3335,  645, 2300,
        630, 1600, 3480, 4300, 1470,  500,  535, 2622, 3155,  660, 1310,
       2180, 2230, 2400, 1655, 1420, 2788,  700, 1255,  598,  695,  550,
       1060,  598, 1280, 2850, 2652, 3085,  690, 1596, 2564, 1600, 2500,
       1000,  760,  700, 2080,  705,  860, 1264, 2750,  522,  692,  500,
       2250,  490,  700, 3300, 1770,  600, 2680, 1292,  708, 1660, 1720,
        891,  909, 2765,  678, 3425, 3345, 1200, 3665, 2115,  562,  550,
       1310,  604,  585, 1354, 1385,  800, 1645,  530, 1079, 1003, 2686,
        830, 2585,  750, 1760,  614,  820, 3298,  725, 2804,  818, 3110,
       3300,  810, 3740, 1970,  773,  508, 2968, 2410,  896,  720, 2240,
       1910, 3366, 2645, 3665, 1392, 3065,  734, 3610,  807, 1388, 3290,
       3310, 4236, 2870,  570, 1578, 2285, 1200,  570, 3160, 2700, 3600,
       4900, 3750, 3350, 4550, 2280, 3520, 3222, 2630, 2700, 3526, 3365,
       3222, 2270, 3150, 3450,  600, 3200,  600,  760, 2495,  770, 2860,
        650, 1690,  600, 3574, 1316, 3525, 2290, 2580, 1376, 2375, 1126,
       4476, 3700, 1800, 1412, 1285,  930,  522, 3705,  560, 3100, 2150,
       3600, 1700,  970,  930, 2886, 2400, 2008,  880, 1580, 3330, 1510,
        650, 1155, 1470, 2964, 1600, 2540, 3650, 2150, 2610, 3000, 1220,
       3176, 1230,  805, 1525,  780, 1260, 2752, 2785,  730, 2710,  950,
       2680, 1068, 2245, 1590, 3310, 2450,  560,  610, 1110, 3290, 4084,
       1908, 5500, 1730, 2750, 2970, 1760, 1860,  560, 3850,  700, 3220,
       2160, 2044, 3222, 1342, 1000, 2195,  650, 1750, 2000, 2805, 2120,
        950,  622, 1950, 1900])

In [228]:
lista_ordenada=list(teste_order['n_nu_peso'].values)
lista_ordenada.insert(0,0)
lista_ordenada.insert(0,0)


matriz_pesos=np.zeros((10,38))
aux=0
cont = 0
aux2=38
aux3=1

for y in range(0,10):
    l_teste=[]
    for j in range(aux,aux2):
        #print("Elemento adicionado = "+str(lista_ordenada[j]))
        #print("posicao da lista = "+str(j))
        #print("cont "+str(cont))
        #print("Aux = "+str(aux))
        aux=j
        l_teste.append(lista_ordenada[j])
        
    for tamanho in range(0,len(l_teste)):
        matriz_pesos[cont][tamanho]=int(l_teste[tamanho])
    l_teste=[]

    j=aux+1
    aux=aux+1
    cont=cont+1
    aux3=aux3+1
    aux2=aux3*38

In [230]:

#for row in matriz_pesos:
#     print(row)

matriz_pesos[0].min()

0.0