In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import seaborn as sb
import matplotlib.style
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
#plt.rcParams['figure.figsize'] = [26, 8]
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
df = pd.read_csv('/home/lokra/Documentos/jupyterProjects/testeDataVisualization/visualization/dados/Dados-AC.csv',encoding='utf8')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
#sns.heatmap(df.isnull())

In [9]:
values = df.groupby('morte_menor_28d')['morte_menor_28d'].count()
n_samples = df.shape[0]

In [ ]:
plt.figure(figsize=(10,6))
labels = ['Vivos', 'Mortos']
explode = (0, 0.2) 
colors = ['#66b3ff','#ff9999']

plt.pie(values, colors = colors, autopct='%1.1f%%',
        startangle=90, pctdistance=0.85, explode=explode)

#plt.legend(labels,loc=1)

#centre_circle = plt.Circle((0,0),0.40,fc='white')
#fig = plt.gcf()
#fig.gca().add_artist(centre_circle)  
#plt.tight_layout()

#fig.text(0.42, 0.5, "{} ".format(n_samples), style='italic', fontsize=10)
#plt.show()

In [11]:
df_death = df[df["morte_menor_28d"] == 1]

In [ ]:
sns.heatmap(df_death.isnull())

In [ ]:
df_death.shape

In [ ]:
df_death.head()

In [ ]:
df_death.dtypes

In [ ]:
df_death['date_death'] = df_death['date_death'].astype('Int64')
df_death['day_death'] = df_death['day_death'].astype('Int64')
df_death['month_death'] = df_death['month_death'].astype('Int64')
df_death['year_death'] = df_death['year_death'].astype('Int64')

df_death['days_until_death'] = (df_death['day_death'] - df_death['day_birth'])
df_death['days_until_death'] = df_death['days_until_death'].astype('Int64')
df_death.dtypes

In [15]:
df_death.head()

             id  n_tp_ocorrencia  n_co_municipio_ibge_ocorrencia  n_nu_idade  n_tp_estado_civil  n_tp_escolaridade  n_qt_nascidos_vivos  n_qt_nascidos_mortos  n_co_municipio_ibge_residencia  n_tp_gestacao  n_tp_gravidez  n_tp_parto  n_tp_prenatal  n_dt_nascimento n_sg_sexo  n_nu_apgar1  n_nu_apgar5  n_tp_raca_cor  n_nu_peso n_co_cid  n_st_malformacao  n_co_bairro_ocorrencia  n_co_bairro_residencia  n_tp_raca_cor_mae  n_qt_gestacao_anterior  n_qt_parto_normal  n_qt_parto_cesaria  n_tp_metodo_estimar  n_tp_apresentacao  n_st_trabalho_parto  n_st_cesarea_parto  n_tp_grupo_robson  n_tp_nascimento_assistido  n_tp_funcao_responsavel  morte_menor_28d    date_death  day_birth  month_birth  year_birth  day_death  month_death  year_death  n_ct_peso  n_ct_idade  n_ct_nascidos_vivos  n_ct_nascidos_mortos  n_ct_gestacao_anterior  n_ct_parto_normal  n_ct_parto_cesaria  n_ct_apgar1  n_ct_apgar5
16653   97339AC                1                          120060          23                  5                  4                    4                     0                          120032              5              1           2              1          9042006         1            1            2              1       1550     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                1  1.144541e+12          9            4        2006        9.0          4.0      2006.0          1           3                    1                     1                       1                  1                   1            1            1
17055   97808AC                1                          120020          36                  1                  1                    6                     0                          120020              5              1           1              4         11012006         1            9           10              4       2080     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                1  1.136938e+12         11            1        2006       11.0          1.0      2006.0          1           6                    2                     1                       1                  1                   1            4            4
17517   98322AC                1                          120010          30                  1                  4                    2                     0                          120025              5              1           1              2         18012006         2            6            3              4       3820     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                1  1.137542e+12         18            1        2006       18.0          1.0      2006.0          3           4                    1                     1                       1                  1                   1            2            1
18255   99185AC                1                          120040          39                  1                  1                    2                     0                          120070              5              1           2              3         26032006         1            8            9              4       2685     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                1  1.143331e+12         26            3        2006       26.0          3.0      2006.0          2           6                    1                     1                       1                  1                   1            3            4
19404  100531AC                1                          120040          26                  5                  4                    1                     0                          120040              5              1           1              2         26012006         1            8            9              4       4265     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                1  1.138234e+12         26            1        2006       26.0          1.0      2006.0          4           4                    1                     1                       1                  1                   1            3            4

In [72]:
#df[df["morte_menor_28d"] == 1]
#df_2006 = df_death[df_death['year_birth'] == 2006]
#df_teste= df[df['n_sg_sexo']=='M']
#df_teste=df_teste[df_teste['']]
#df_death = df[df["morte_menor_28d"] == 1]

In [34]:
df_teste = df[:]

In [35]:
df_teste.head()

        id  n_tp_ocorrencia  n_co_municipio_ibge_ocorrencia  n_nu_idade  n_tp_estado_civil  n_tp_escolaridade  n_qt_nascidos_vivos  n_qt_nascidos_mortos  n_co_municipio_ibge_residencia  n_tp_gestacao  n_tp_gravidez  n_tp_parto  n_tp_prenatal  n_dt_nascimento n_sg_sexo  n_nu_apgar1  n_nu_apgar5  n_tp_raca_cor  n_nu_peso n_co_cid  n_st_malformacao  n_co_bairro_ocorrencia  n_co_bairro_residencia  n_tp_raca_cor_mae  n_qt_gestacao_anterior  n_qt_parto_normal  n_qt_parto_cesaria  n_tp_metodo_estimar  n_tp_apresentacao  n_st_trabalho_parto  n_st_cesarea_parto  n_tp_grupo_robson  n_tp_nascimento_assistido  n_tp_funcao_responsavel  morte_menor_28d  date_death  day_birth  month_birth  year_birth  day_death  month_death  year_death  n_ct_peso  n_ct_idade  n_ct_nascidos_vivos  n_ct_nascidos_mortos  n_ct_gestacao_anterior  n_ct_parto_normal  n_ct_parto_cesaria  n_ct_apgar1  n_ct_apgar5
0  78304AC                1                         1200104          38                  1                  4                    0                     0                         1200104              5              1           2              3          8012005         1            7            9              4       3750     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                0         NaN          8            1        2005        NaN          NaN         NaN          3           6                    1                     1                       1                  1                   1            2            4
1  78305AC                1                         1200104          27                  1                  2                    2                     0                         1200104              5              1           1              1          2012005         2            8            9              4       3300     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                0         NaN          2            1        2005        NaN          NaN         NaN          3           4                    1                     1                       1                  1                   1            3            4
2  78306AC                1                         1200104          25                  1                  3                    0                     0                         1200252              5              1           2              3         13012005         1            7            8              5       3600     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                0         NaN         13            1        2005        NaN          NaN         NaN          3           3                    1                     1                       1                  1                   1            2            3
3  78307AC                1                         1200104          23                  2                  3                    2                     0                         1200104              5              1           1              1         14012005         1            8            9              4       3650     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                0         NaN         14            1        2005        NaN          NaN         NaN          3           3                    1                     1                       1                  1                   1            3            4
4  78308AC                1                         1200104          21                  2                  4                    0                     0                         1200104              5              1           1              3         15012005         2            6            8              1       3150     Q039                 2                      20                      43                  4                       2                  1                   0                    8                  1                    2                   3                  3                          1                        5                0         NaN         15            1        2005        NaN          NaN         NaN          3           3                    1                     1                       1                  1                   1            2            3

In [36]:
df_teste.drop('n_qt_nascidos_vivos',axis=1,inplace=True)
df_teste.drop('n_qt_nascidos_mortos',axis=1,inplace=True)
df_teste.drop('n_co_municipio_ibge_residencia',axis=1,inplace=True)
df_teste.drop('n_tp_metodo_estimar',axis=1,inplace=True)
df_teste.drop('date_death',axis=1,inplace=True)
df_teste.drop('day_death',axis=1,inplace=True)
df_teste.drop('month_death',axis=1,inplace=True)
df_teste.drop('n_ct_nascidos_vivos',axis=1,inplace=True)
df_teste.drop('n_ct_nascidos_mortos',axis=1,inplace=True)
df_teste.drop('n_ct_gestacao_anterior',axis=1,inplace=True)
df_teste.drop('n_ct_parto_normal',axis=1,inplace=True)
df_teste.drop('n_ct_parto_cesaria',axis=1,inplace=True)
df_teste.drop('n_ct_apgar1',axis=1,inplace=True)
df_teste.drop('n_ct_apgar5',axis=1,inplace=True)
#########################################################################
df_teste.drop('id',axis=1,inplace=True)
df_teste.drop('n_co_municipio_ibge_ocorrencia',axis=1,inplace=True)
df_teste.drop('n_tp_estado_civil',axis=1,inplace=True)
df_teste.drop('n_tp_escolaridade',axis=1,inplace=True)
#df_teste.drop('n_co_municipio_ibge_residencia	',axis=1,inplace=True)
df_teste.drop('n_dt_nascimento',axis=1,inplace=True)
df_teste.drop('n_nu_apgar1',axis=1,inplace=True)
df_teste.drop('n_nu_apgar5',axis=1,inplace=True)
df_teste.drop('n_co_cid',axis=1,inplace=True)
df_teste.drop('n_st_malformacao',axis=1,inplace=True)
df_teste.drop('n_co_bairro_ocorrencia',axis=1,inplace=True)
df_teste.drop('n_co_bairro_residencia',axis=1,inplace=True)
df_teste.drop('n_qt_gestacao_anterior',axis=1,inplace=True)
df_teste.drop('n_qt_parto_normal',axis=1,inplace=True)
df_teste.drop('n_qt_parto_cesaria',axis=1,inplace=True)
#df_teste.drop('n_tp_metodo_estimar	',axis=1,inplace=True)
df_teste.drop('n_tp_apresentacao',axis=1,inplace=True)
df_teste.drop('n_st_trabalho_parto',axis=1,inplace=True)
df_teste.drop('n_st_cesarea_parto',axis=1,inplace=True)
df_teste.drop('n_tp_grupo_robson',axis=1,inplace=True)
df_teste.drop('n_tp_funcao_responsavel',axis=1,inplace=True)

In [67]:
#df_teste.head()
#df_show.head()

In [84]:
df_morteNeonatal=df_teste[:]
df_morteNeonatal['year_death'] = df_morteNeonatal['year_death'].astype('Int64')
df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["morte_menor_28d"] == 1]

df_morteNeonatal.loc[df_morteNeonatal.n_sg_sexo == 'M','n_sg_sexo'] = 1
df_morteNeonatal.loc[df_morteNeonatal.n_sg_sexo == 'F','n_sg_sexo'] = 2
df_morteNeonatal['n_sg_sexo']=df_morteNeonatal['n_sg_sexo'].astype(int)

########################################## Linha Linha#########################
#i=1
#for index, row in df_morteNeonatal.iterrows():
#    #print (row['n_sg_sexo'])
#    if row['n_sg_sexo']=='2':
#        #row['n_sg_sexo'].dtype
#       row['n_sg_sexo']=int(row['n_sg_sexo'])
#       print(i)
#       i=i+1
########################################## Linha Linha#########################

##  Crian√ßas que morreram antes dos 28 dias de vida
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_sg_sexo"] == 1]##Homens
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_tp_raca_cor_mae"]==4]##Parda
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_tp_ocorrencia"]==1]##Residencia
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["n_tp_parto"]==2]##Parto normal
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["year_death"]==2006]##Ano de morte

df_morteNeonatal['Ocorrencias']=(df_morteNeonatal.groupby('year_death')['year_death'].count())

#df_morteNeonatal.count()
                                
t=df_morteNeonatal.groupby('n_tp_raca_cor_mae')['n_tp_raca_cor_mae'].count()
#t=df_morteNeonatal.year_death.unique()
#type(t.index)

tt=list(t.index)
##tt
#tp = t.values
#j=list(tp)
#j
tt


#anosMorte=df_morteNeonatal.year_death.unique()
#list_anosOcorrencias=list(anosMorte)



#listadeAnosDeMorte=df_morteNeonatal.year_death.unique()
#listadeAnosDeMorte
#t['n_tp_ocorrencia']
#t=df_morteNeonatal.year_death.unique()
#t

#istaAnos=[]
#listaOcor=[]
#or valor in range(0,len(t)):
    #istaAnos.append(t[valor])
#istaAnos
    
#df_morteNeonatal=df_morteNeonatal[df_morteNeonatal["year_death"]==2006]
#df_morteNeonatal
#listaAnos
    
#view1 = df_morteNeonatal.shape[0]


#df_morteNeonatal['n_sg_sexo']
#df_morteNeonatal.shape
#df_morteNeonatal.head()

#view1

[1, 2, 3, 4, 5]

In [48]:
values_teste = df_teste.shape[0]

In [49]:
values_teste

6637

In [76]:
teste=df['n_nu_peso'].index
teste

RangeIndex(start=0, stop=153861, step=1)

In [ ]:
df_2006.head()

In [44]:
values_2006 = df_2006.shape[0]

In [45]:
values_2006

33