In [23]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

In [24]:
df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')
df_ac = pd.read_csv('/home/wdnfywaa/Desktop/tiagoFDP/Dados-AC.csv')

In [3]:
df_morteNeonatal_AC=df_ac[:]
df_morteNeonatal_AC['year_death'] = df_morteNeonatal_AC['year_death'].astype('Int64')
df_morteNeonatal_AC=df_morteNeonatal_AC[df_morteNeonatal_AC["morte_menor_28d"] == 1]
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_sg_sexo == 'M','n_sg_sexo'] = 1
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_sg_sexo == 'F','n_sg_sexo'] = 2
df_morteNeonatal_AC['n_sg_sexo']=df_morteNeonatal_AC['n_sg_sexo'].astype(int)

df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 1,'n_tp_raca_cor_mae'] = 'maes_brancas'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 2,'n_tp_raca_cor_mae'] = 'maes_negras'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 3,'n_tp_raca_cor_mae'] = 'maes_asiaticas'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 4,'n_tp_raca_cor_mae'] = 'maes_pardas'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 5,'n_tp_raca_cor_mae'] = 'maes_indigenas'

df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 1,'n_tp_ocorrencia'] = 'hospital'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 2,'n_tp_ocorrencia'] = 'other_health_establishment'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 3,'n_tp_ocorrencia'] = 'residence'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 4,'n_tp_ocorrencia'] = 'other'

In [19]:
available_indicators = df['Indicator Name'].unique()

dff = df_ac[df_ac['year_death'] == 2006]

dff.groupby('year_death')['year_death'].count().values[0]
#dff

18

In [24]:
ocor_anos=df_ac.groupby('year_death')['year_death'].count()
ocor_anos.values

array([18, 21, 20, 14, 15, 13, 27, 72, 66, 62, 50])

In [58]:
pes=df_morteNeonatal_AC[df_morteNeonatal_AC['year_death']==2007]
pes=pes[pes['n_nu_peso']==1050]
pes.head()

,id,n_tp_ocorrencia,n_co_municipio_ibge_ocorrencia,n_nu_idade,n_tp_estado_civil,n_tp_escolaridade,n_qt_nascidos_vivos,n_qt_nascidos_mortos,n_co_municipio_ibge_residencia,n_tp_gestacao,...,year_death,n_ct_peso,n_ct_idade,n_ct_nascidos_vivos,n_ct_nascidos_mortos,n_ct_gestacao_anterior,n_ct_parto_normal,n_ct_parto_cesaria,n_ct_apgar1,n_ct_apgar5
30039,113169AC,hospital,120010,17,1,3,0,0,120025,2,...,2007,1,2,1,1,1,1,1,1,2

In [12]:
#ocor_anos

In [ ]:
dff = df_ac[df_ac['year_death'] == year_value]
x=dff[]

In [4]:
#update_graph('maes_pardas','residence',2006)
#create_time_series(df_ac,'linear','teste')

In [16]:
def update_graph(xaxis_column_name, yaxis_column_name,year_value):
    dff = df_morteNeonatal_AC[df_morteNeonatal_AC['year_death'] == year_value]

    return {
        'data': [dict(
            x=dff[dff['n_tp_raca_cor_mae'] == xaxis_column_name]['n_tp_raca_cor_mae'],
            y=dff[dff['n_tp_ocorrencia'] == yaxis_column_name]['n_tp_raca_cor_mae'],
            text=dff[dff['n_tp_ocorrencia'] == yaxis_column_name]['n_tp_ocorrencia'],
            customdata=dff[dff['n_tp_ocorrencia'] == yaxis_column_name]['n_tp_ocorrencia'],
            mode='markers',
            marker={
                'size': 15,
                'opacity': 0.5,
                'line': {'width': 0.5, 'color': 'white'}
            }
        )],
        'layout': dict(
            xaxis={
                'title': xaxis_column_name,
                'type': 'linear'
            },
            yaxis={
                'title': yaxis_column_name,
                'type': 'linear'
            },
            margin={'l': 40, 'b': 30, 't': 10, 'r': 0},
            height=450,
            hovermode='closest'
        )
    }

In [28]:
def create_time_series(dff, axis_type, title):
    return {
        'data': [dict(
            x=ocor_anos.index,
            y=ocor_anos.values,
            mode='lines+markers'
        )],
        'layout': {
            'height': 225,
            'margin': {'l': 20, 'b': 30, 'r': 10, 't': 10},
            'annotations': [{
                'x': 0, 'y': 0.85, 'xanchor': 'left', 'yanchor': 'bottom',
                'xref': 'paper', 'yref': 'paper', 'showarrow': False,
                'align': 'left', 'bgcolor': 'rgba(255, 255, 255, 0.5)',
                'text': title
            }],
            'yaxis': {'type': 'linear' if axis_type == 'Linear' else 'log'},
            'xaxis': {'showgrid': False}
        }
    }

In [50]:
dff=df[:]
#dff

x=dff[dff['Indicator Name'] == 'Industry, value added (% of GDP)']
x=x[x['Value']>0]

#dff


available_indicators_peso = df_morteNeonatal_AC['n_nu_peso'].unique()
#available_indicators_peso
#dff['Year']
#dff = df['Year']
#dff.groupby('Year')['Year'].count()

array([1550, 2080, 3820, 2685, 4265, 2700, 1010, 1100, 1400, 1560, 3055,
        915, 2235, 3155, 2505, 3380, 1450, 3700, 1050, 2100, 2000, 3110,
       1335, 3510, 1005, 3340, 2225, 2975, 3090, 3420, 1020, 3085, 2900,
       2990, 2750, 3100, 1350, 2800, 2250, 2500, 3500, 4150, 2660, 2830,
       4250, 2600, 1930, 1800, 4240, 1500, 1600, 3250, 2025, 2120, 4000,
       2950, 1670,  480, 1000, 1200,  750,  500,  600,  790,  400, 2850,
       3320, 2470, 2400, 1700,  340, 3000, 2745, 3560, 3750,  800, 3540,
       4070,  470, 1730, 2760,  950, 3900, 3710, 1250, 3390, 3720, 2450,
       2150, 1035, 1945, 1030, 1880, 1300, 4650, 1665,  650, 1900, 1870,
       1740, 3254, 1240, 1580,  556,  760, 1307, 1742,  458, 3335,  645,
       2300,  630, 3480, 4300, 1470,  535, 2622,  660, 1310, 2180, 2230,
       1655, 1420, 2788,  700, 1255,  598,  695,  550, 1060, 1280, 2652,
        690, 1596, 2564,  705,  860, 1264,  522,  692,  490, 3300, 1770,
       2680, 1292,  708, 1660, 1720,  891,  909, 2765,  678, 3425, 3345,
       3665, 2115,  562,  604,  585, 1354, 1385, 1645,  530, 1079, 1003,
       2686,  830, 2585, 1760,  614,  820, 3298,  725, 2804,  818,  810,
       3740, 1970,  773,  508, 2968, 2410,  896,  720, 2240, 1910, 3366,
       2645, 1392, 3065,  734, 3610,  807, 1388, 3290, 3310, 4236, 2870,
        570, 1578, 2285, 3160, 3600, 4900, 3350, 4550, 2280, 3520, 3222,
       2630, 3526, 3365, 2270, 3150, 3450, 3200, 2495,  770, 2860, 1690,
       3574, 1316, 3525, 2290, 2580, 1376, 2375, 1126, 4476, 1412, 1285,
        930, 3705,  560,  970, 2886, 2008,  880, 3330, 1510, 1155, 2964,
       2540, 3650, 2610, 1220, 3176, 1230,  805, 1525,  780, 1260, 2752,
       2785,  730, 2710, 1068, 2245, 1590,  610, 1110, 4084, 1908, 5500,
       2970, 1860, 3850, 3220, 2160, 2044, 1342, 2195, 1750, 2805,  622,
       1950])

In [37]:
dff[dff['Indicator Name']=='CO2 emissions (metric tons per capita)']

,Country Name,Indicator Name,Year,Value
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
15,Caribbean small states,CO2 emissions (metric tons per capita),1962,2.703875
29,Central Europe and the Baltics,CO2 emissions (metric tons per capita),1962,5.673987
43,Early-demographic dividend,CO2 emissions (metric tons per capita),1962,0.623761
57,East Asia & Pacific,CO2 emissions (metric tons per capita),1962,0.894871
...,...,...,...,...
36891,Virgin Islands,CO2 emissions (metric tons per capita),2007,NaN
36905,West Bank and Gaza,CO2 emissions (metric tons per capita),2007,0.665297
36919,"Yemen, Rep.",CO2 emissions (metric tons per capita),2007,0.966383
36933,Zambia,CO2 emissions (metric tons per capita),2007,0.139614
36947,Zimbabwe,CO2 emissions (metric tons per capita),2007,0.743449