In [23]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

In [24]:
df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')
df_ac = pd.read_csv('/home/wdnfywaa/Desktop/tiagoFDP/Dados-AC.csv')

In [3]:
df_morteNeonatal_AC=df_ac[:]
df_morteNeonatal_AC['year_death'] = df_morteNeonatal_AC['year_death'].astype('Int64')
df_morteNeonatal_AC=df_morteNeonatal_AC[df_morteNeonatal_AC["morte_menor_28d"] == 1]
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_sg_sexo == 'M','n_sg_sexo'] = 1
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_sg_sexo == 'F','n_sg_sexo'] = 2
df_morteNeonatal_AC['n_sg_sexo']=df_morteNeonatal_AC['n_sg_sexo'].astype(int)

df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 1,'n_tp_raca_cor_mae'] = 'maes_brancas'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 2,'n_tp_raca_cor_mae'] = 'maes_negras'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 3,'n_tp_raca_cor_mae'] = 'maes_asiaticas'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 4,'n_tp_raca_cor_mae'] = 'maes_pardas'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_raca_cor_mae == 5,'n_tp_raca_cor_mae'] = 'maes_indigenas'

df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 1,'n_tp_ocorrencia'] = 'hospital'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 2,'n_tp_ocorrencia'] = 'other_health_establishment'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 3,'n_tp_ocorrencia'] = 'residence'
df_morteNeonatal_AC.loc[df_morteNeonatal_AC.n_tp_ocorrencia == 4,'n_tp_ocorrencia'] = 'other'

In [19]:
available_indicators = df['Indicator Name'].unique()

dff = df_ac[df_ac['year_death'] == 2006]

dff.groupby('year_death')['year_death'].count().values[0]
#dff

18

In [24]:
ocor_anos=df_ac.groupby('year_death')['year_death'].count()
ocor_anos.values

array([18, 21, 20, 14, 15, 13, 27, 72, 66, 62, 50])

In [12]:
#ocor_anos

In [ ]:
dff = df_ac[df_ac['year_death'] == year_value]
x=dff[]

In [4]:
#update_graph('maes_pardas','residence',2006)
#create_time_series(df_ac,'linear','teste')

In [16]:
def update_graph(xaxis_column_name, yaxis_column_name,year_value):
    dff = df_morteNeonatal_AC[df_morteNeonatal_AC['year_death'] == year_value]

    return {
        'data': [dict(
            x=dff[dff['n_tp_raca_cor_mae'] == xaxis_column_name]['n_tp_raca_cor_mae'],
            y=dff[dff['n_tp_ocorrencia'] == yaxis_column_name]['n_tp_raca_cor_mae'],
            text=dff[dff['n_tp_ocorrencia'] == yaxis_column_name]['n_tp_ocorrencia'],
            customdata=dff[dff['n_tp_ocorrencia'] == yaxis_column_name]['n_tp_ocorrencia'],
            mode='markers',
            marker={
                'size': 15,
                'opacity': 0.5,
                'line': {'width': 0.5, 'color': 'white'}
            }
        )],
        'layout': dict(
            xaxis={
                'title': xaxis_column_name,
                'type': 'linear'
            },
            yaxis={
                'title': yaxis_column_name,
                'type': 'linear'
            },
            margin={'l': 40, 'b': 30, 't': 10, 'r': 0},
            height=450,
            hovermode='closest'
        )
    }

In [28]:
def create_time_series(dff, axis_type, title):
    return {
        'data': [dict(
            x=ocor_anos.index,
            y=ocor_anos.values,
            mode='lines+markers'
        )],
        'layout': {
            'height': 225,
            'margin': {'l': 20, 'b': 30, 'r': 10, 't': 10},
            'annotations': [{
                'x': 0, 'y': 0.85, 'xanchor': 'left', 'yanchor': 'bottom',
                'xref': 'paper', 'yref': 'paper', 'showarrow': False,
                'align': 'left', 'bgcolor': 'rgba(255, 255, 255, 0.5)',
                'text': title
            }],
            'yaxis': {'type': 'linear' if axis_type == 'Linear' else 'log'},
            'xaxis': {'showgrid': False}
        }
    }

In [32]:
dff=df[:]
#dff

x=dff2[dff2['Indicator Name'] == 'Industry, value added (% of GDP)']['Value']
#dff['Year']
#dff = df['Year']
#dff.groupby('Year')['Year'].count()

,Country Name,Indicator Name,Year,Value
0,Arab World,"Agriculture, value added (% of GDP)",1962,NaN
1,Arab World,CO2 emissions (metric tons per capita),1962,0.760996
2,Arab World,Domestic credit provided by financial sector (...,1962,18.168690
3,Arab World,Electric power consumption (kWh per capita),1962,NaN
4,Arab World,Energy use (kg of oil equivalent per capita),1962,NaN
...,...,...,...,...
36955,Zimbabwe,"Industry, value added (% of GDP)",2007,33.074953
36956,Zimbabwe,"Inflation, GDP deflator (annual %)",2007,0.894887
36957,Zimbabwe,"Life expectancy at birth, total (years)",2007,44.177756
36958,Zimbabwe,Population density (people per sq. km of land ...,2007,34.374559
36959,Zimbabwe,"Services, etc., value added (% of GDP)",2007,45.327139